
@media(min-width: 768px)
{ 
  #main
  { 
    
    font-family: 'Lato', sans-serif;
background: repeating-linear-gradient(
90deg,
black 0%,
Black 33.3%,
white 33.3%,
white 66.6%,
Black 66.6%,  
black 100%);
  }}

div
{
display:flex; 
margin-bottom:0.5rem;

flex-direction:column;
justify-content: space-around;
background-color: lightgrey;
margin:auto;
line-height: 2;
padding:1em;
width:12em;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
@media (min-width: 576px)
{
#main 
{
  max-width:540px
}
}



#title
{
user-select:none;
text-align:center;
font-family: 'MuseoModerno', cursive;
font-weight:600;
}
#name, #email ,#number, #dropdown
{ min-height:28px;
box-shadow:         3px 3px 5px 6px #ccc;
outline:none;
border:0px none;
}
#reviewSite
{
border:0px none;
box-shadow:         3px 3px 5px 6px #ccc;
}
#description
{
user-select:none;
text-align:center;
font-family: 'MuseoModerno', cursive;
font-weight: 500;
}

#reviewSite {
display: block;
width: 95%;
resize: vertical;
margin-top: 0px;
margin-bottom: 0px;
height: 120px;
min-height:60px;
}

#submit
{
text-align: center;
cursor: pointer;
border: 0px none;
  animation-name:   submitColorOffHover;
  animation-duration: 1000ms;
animation-fill-mode: forwards;
min-height: 30px;
font-family: 'Lato', sans-serif;
font-size: 22px;
}



#submit:hover
{
animation-name: submitColorHover;
  animation-duration: 1000ms;
animation-fill-mode: forwards;
}
@keyframes submitColorHover {
100% {
  Background-color: lime;
}
}

@keyframes submitColorOffHover {
0% {
  background-color:lime;
}
100% {
  Background-color: white;
}
}

#name:focus, #email:focus, #number:focus, #dropdown:focus, #reviewSite:focus {
animation-name: inputFocus;
animation-duration: 4000ms;
animation-iteration-count: infinite;
border:0px none;
outline:none;
}

@keyframes inputFocus {
  
50%{
box-shadow:    0px 0px 20px -1px #61a4ef;
}
}
